<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="img-thumbnail rounded-circle" width="200" src="img/profile.png" alt="profile">
            <h1 class="display-4 fw-semibold">Yudistira Eka Pratama</h1>
            <p class="lead">MERN Stack Developer | Tech Enthusiasm</p>
        </div>
    </div>
</div>
