<h1>Hello World</h1>
<p>Welcome to node web server...</p>

<% const name='Ujang Jumbo' %>
    <h2>Hello, <%= name %>
    </h2>
    <h4>
        <%= email %>
    </h4>

    <h4>Daftar pegawai-pegawai</h4>
    <% if (pegawai.length < 1) { %>
        <p>Data Pegawai masih kosong...</p>
        <% } else { %>
            <% pegawai.forEach(pgw=> { %>
                <ul>
                    <li>Nama: <%= pgw.nama %>
                    </li>
                    <li>Email: <%= pgw.email %>
                    </li>
                </ul>
                <% }) %>
            <% } %>